<button id="passiveTest" (click.p)="onPassiveClick($event)" [innerHtml]="passiveTest"></button>
<br>
<button id="onceTest" (click.o)="onOnceClick($event)" [innerHtml]="onceTest"></button>
<br>
<button id="ngZoneTest" (click.n)="onNgZoneClick($event)" [innerHtml]="ngZoneTest"></button>
<br>
<button id="preventDefaultTest" (click.d)="onPreventDefaultClick($event)" [innerHtml]="preventDefaultTest"></button>

<div (click.c)="onCaptureParentClick($event)" (click.*)="onBubbleParentClick($event)">
  <button id="captureTest" (click.*)="onCaptureChildClick($event)" [innerHtml]="captureTest"></button>
</div>

<div (click.c)="onStopCaptureParentClick($event)" (click.*)="onStopBubbleParentClick($event)">
  <button id="stopTest" (click.s)="onStopChildClick($event)" (click.*)="onStopTestChildClick($event)" [innerHtml]="stopTest"></button>
</div>

<div (click.*)="onStopParentEmptyClick($event)">
  <button id="stopEmptyTest" (click.s)="false" (click.*)="onStopEmptyClick($event)" [innerHtml]="stopEmptyTest"></button>
</div>

<button id="throttleWaitTest" (click.*|th[50,0])="onThrottleWaitClick($event)" [innerHtml]="throttleWaitTest"></button>
<br>
<button id="debounceWaitTest" (click.*|db[50,0])="onDebounceWaitClick($event)" [innerHtml]="debounceWaitTest"></button>
<br>
<button id="throttleImmediateTest" (click.*|th[50,1])="onThrottleImmediateClick($event)" [innerHtml]="throttleImmediateTest"></button>
<br>
<button id="debounceImmediateTest" (click.*|db[50,1])="onDebounceImmediateClick($event)" [innerHtml]="debounceImmediateTest"></button>
<br>
