<button id="passiveTest" (click.p)="onPassiveClick($event)" [innerHtml]="passiveTest"></button>
<br />
<button id="onceTest" (click.o)="onOnceClick()" [innerHtml]="onceTest"></button>
<br />
<button id="ngZoneTest" (click.n)="onNgZoneClick()" [innerHtml]="ngZoneTest"></button>
<br />
<button
  id="preventDefaultTest"
  (click.d)="onPreventDefaultClick($event)"
  [innerHtml]="preventDefaultTest"
></button>

<div (click.c)="onCaptureParentClick()" (click.*)="onBubbleParentClick()">
  <button
    id="captureTest"
    (click.*)="onCaptureChildClick()"
    [innerHtml]="captureTest"
  ></button>
</div>

<div (click.c)="onStopCaptureParentClick()" (click.*)="onStopBubbleParentClick()">
  <button
    id="stopTest"
    (click.s)="onStopChildClick()"
    (click.*)="onStopTestChildClick()"
    [innerHtml]="stopTest"
  ></button>
</div>

<div (click.*)="onStopParentEmptyClick()">
  <button
    id="stopEmptyTest"
    (click.s)="(false)"
    (click.*)="onStopEmptyClick()"
    [innerHtml]="stopEmptyTest"
  ></button>
</div>

<button
  id="throttleWaitTest"
  (click.*|th{50,0})="onThrottleWaitClick()"
  [innerHtml]="throttleWaitTest"
></button>
<br />
<button
  id="debounceWaitTest"
  (click.*|db{50,0})="onDebounceWaitClick()"
  [innerHtml]="debounceWaitTest"
></button>
<br />
<button
  id="throttleImmediateTest"
  (click.*|th{50,1})="onThrottleImmediateClick()"
  [innerHtml]="throttleImmediateTest"
></button>
<br />
<button
  id="debounceImmediateTest"
  (click.*|db{50,1})="onDebounceImmediateClick()"
  [innerHtml]="debounceImmediateTest"
></button>
<br />
